php_value magic_quotes_gpc Off

<FilesMatch "^(searchUser|searchUserCAS|searchUserTrusted)$">
    SetHandler application/x-httpd-php
</FilesMatch>

<FilesMatch "\.html\.js$">
    SetHandler application/x-httpd-php
</FilesMatch>

<FilesMatch "\.inc\.php$">
    Order allow,deny
</FilesMatch>

<FilesMatch "^(search|searchGroup|userGroupsId|userGroupsAndRoles|getSubGroups|allGroups|groupUsers|userLastLogins)$">
    SetHandler application/x-httpd-php
</FilesMatch>

<FilesMatch "^(annuaire.html)$">
    Order allow,deny
    Allow from all
    AuthType CAS
    require valid-user
</FilesMatch>
