<!doctype html>
<html>
<head>	
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta name="viewport" content="initial-scale=1.0">
</head>
<body>

<script>window.prolongation_ENT_args = { current: 'userinfo', delegateAuth: true };</script>
<script src="https://ent.univ-paris1.fr/ProlongationENT/loader.js"></script>

<link href="userinfo.css" type="text/css" rel="stylesheet">
<script src="../autocompleteUser-resources.html.js"></script>
<script src="../vue.min.js"></script>
<div id="annuaire">
    <form method='get' action='/foo' class='welcomeAutocompleteSearch'>
	    <div class='ui-widget'>
		    <label for='all'>Saisissez le nom et/ou prénom d'un étudiant ou d'un personnel</label>
		    <span class='token-autocomplete'>
                <input name='all' autofocus placeholder='Nom prénom'>
            </span>
            <select v-model="showExtendedInfo" v-if="allowExtendedInfo >= 1">
                <option value='2' v-if="allowExtendedInfo >= 2">Niveau 2</option>"
                <option value='1' v-if="allowExtendedInfo >= 1">Niveau 1</option>
                <option value='0' v-if="allowExtendedInfo >= 1">Niveau 0</option>
            </select>
		    <label class='checkbox'>
			    <input type='checkbox' v-model='allowInvalidAccounts'>
                Chercher des comptes non actifs
            </label>
        </div>
    </form>    
    <div class='annuaireResult'>
        <table class='info-block' v-for="attrs_labels in main_attrs_labels">
            <tr v-for="e in attrs_labels" v-if="e.attr in result.fInfo ? result.fInfo[e.attr] : result.info[e.attr]">
                <td v-html="e.text"></td>
                <td><finfo :val="result.info[e.attr]" :elt="result.fInfo[e.attr]"></finfo></td>
            </tr>
        </table>
    </div>
</div>
<script src="userinfo.js"></script>

</body>
</html>

