body, .ui-widget { font-family: Arial; }
body { font-size: 12px; }
.ui-widget { font-size: 15px !important; }

.token-autocomplete { width: 100%; }

.token-autocomplete input { 
   font-size: 1.5em ;
   width: 100% ;
   margin-left: -2px ;
   margin-top: 0.4em ;
}
.welcomeAutocompleteSearch {
   background-color: #F5F5F5;
   box-shadow: 1px 1px 15px #D1D1D1 inset;
   max-width: 500px;
   padding: 14px 40px 14px 30px;
}

.annuaireResult {
    min-height: 10em;
}

.annuaireResult a {
    text-decoration: none;
}

span.important {
    color: red;
    font-weight: bold;
}
span.notice {
    color: orange;
    font-weight: bold;
}

a.help {
    display: none;
}

a.help {
    color: white;
    background-color: red;
    border-radius: 30%;
    display: inline-block;
    padding: 0px 4px;
    margin-left: 0.3em;
}

span[title], a[title] {
  border-bottom: 1px dotted;
  position: relative;
}

.clickedTitle {
  position: absolute;
  top: 20px;
  background: silver;
  padding: 4px;
  left: 0;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
  border-bottom: 1px dotted;  
}
.vertical-scroll {
  max-height: 10em;
  overflow-y: scroll;
  border: 1px solid;
  display: block;
  padding: 0.3em;
}

.hidden {
  display: none;
}

.info-block {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;
    width: 100%;
    max-width: 800px;
}

.info-block td:first-child {
    width: 15em;
}

select:empty {
    display: none;
}

tbody:empty {
    display: none;
}